
.welcomeMessage{
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: red; */
  font-size: 65px;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.backgroundImage {
background-image: url("../assets/kata.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 70vh;
}


.grayContainer {
  background: #000;
  position:relative;
  width: 100vw;
  height:57vh;
  margin:0 auto;
  opacity: 0.7;
  }