.whyUs-text {
  padding: 25px;
  color: white;
  background-color: #5FC7AE;
  height: 70vh;
}

.whyUs-bg {
  background-image: url("../assets/champions.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 25px;
  height: 70vh;
  top: 0px;
  right: 0px;
  background-origin: padding-box;
}
