.whyUs-text {
  padding: 20px;
  color: white;
  background-color: #5fc7ae;
  height: 100%;
}

.whyUs-bg {
  background-image: url("../assets/champions2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  height: 100%;
  background-origin: padding-box;
}

hr {
  margin: 40px;
}

@media all and (max-width: 899px) {
  .whyUs-bg {
    background-size: cover;
    height: 70vh;
  }
}